[submodule "cahp-sim"]
	path = cahp-sim
	url = https://github.com/virtualsecureplatform/cahp-sim.git
[submodule "llvm-cahp"]
	path = llvm-cahp
	url = https://github.com/virtualsecureplatform/llvm-cahp.git
[submodule "tfhe"]
	path = tfhe
	url = https://github.com/virtualsecureplatform/vsp-tfhe
[submodule "cahp-rt"]
	path = cahp-rt
	url = https://github.com/virtualsecureplatform/cahp-rt.git
[submodule "Iyokan-L1"]
	path = Iyokan-L1
	url = https://github.com/virtualsecureplatform/Iyokan-L1.git
[submodule "cahp-diamond"]
	path = cahp-diamond
	url = https://github.com/virtualsecureplatform/cahp-diamond.git
[submodule "cuFHE"]
	path = cuFHE
	url = https://github.com/virtualsecureplatform/cuFHE.git
[submodule "TFHEpp"]
	path = TFHEpp
	url = https://github.com/virtualsecureplatform/TFHEpp.git
