[submodule "cahp-sim"]
	path = cahp-sim
	url = https://github.com/virtualsecureplatform/cahp-sim.git
[submodule "llvm-cahp"]
	path = llvm-cahp
	url = https://github.com/virtualsecureplatform/llvm-cahp.git
[submodule "cahp-rt"]
	path = cahp-rt
	url = https://github.com/virtualsecureplatform/cahp-rt.git
[submodule "Iyokan-L1"]
	path = Iyokan-L1
	url = https://github.com/virtualsecureplatform/Iyokan-L1.git
[submodule "cahp-diamond"]
	path = cahp-diamond
	url = https://github.com/virtualsecureplatform/cahp-diamond.git
