[submodule "cahp-sim"]
	path = cahp-sim
	url = https://github.com/virtualsecureplatform/cahp-sim.git
[submodule "llvm-cahp"]
	path = llvm-cahp
	url = https://github.com/virtualsecureplatform/llvm-cahp.git
[submodule "tfhe"]
	path = tfhe
	url = https://github.com/virtualsecureplatform/vsp-tfhe
[submodule "cahp-rt"]
	path = cahp-rt
	url = https://github.com/virtualsecureplatform/cahp-rt.git
[submodule "Iyokan-L2"]
	path = Iyokan-L2
	url = https://github.com/virtualsecureplatform/Iyokan-L2.git
